:root {
   --background-color: #ffffff00; 
   --primary-color: #7d7d7d;
   --secondary-color: #000;
   --nav-text-color: #000;
   --book-now-text: #fff;
   --main-nav-hover:#8fe158;
}


/* General */
body {
    background: var(--background-color);
    font-family: "Almarai", sans-serif;
    margin: 0;
} 

ul {
    list-style-type: none;
}

li, a {
    text-decoration: none;
    color: var(--nav-text-color);
}

/**** hide classes ****/
.hide-small {
            display: none;
        }



/******** HEADER ********/

    #main-header {
        width: 100%;
    }

    /* logo */
    #logo-banner {
       background-color: var(--primary-color);
    }

    #logo{
        width: 20%;
        margin: auto;
    }

     #main-nav {
        width: 97%;
        margin: auto;
    }

    #main-nav ul {
        padding: 0;
        margin-top: 5px;
        border-radius: 20px;
    }

    #main-nav li {
        text-align: center;
        padding: 2%;
        margin: 2px 0px;
        background: var(--primary-color);
        font-weight: 700;
        border-radius: 5px;
        border: 2px solid var(--secondary-color);
    }

    #main-nav ul :first-child {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    #main-nav ul :last-child {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    #main-nav a {
       display: block;
    }

    /* book now */
    #book-now {
        width: 25%;
        margin: auto;
        border-radius: 20px;
        background: var(--secondary-color);
        color: var(--book-now-text);
        border: 3px solid var(--book-now-text);
        text-align: center;
        padding: 5px;
        font-weight: 800;
        display: block;
    }

    #book-now:hover {
        background: var(--book-now-text);
        color: var(--secondary-color);
    }

    

    /******** HOME PAGE ********/

    /*home image*/
    #home-image {
        padding: 5px;
        position: relative;
    }

    #home-image h1{
        position: absolute;
        color: var(--book-now-text);
        font-size: 10vw;
        width: 50%;
        left: 7%;
        bottom: 25%;
    }

    #home-image img{
        margin-top: 16px;
        width:100%;
        border-radius: 50px;
    }

    /*home description*/

        #home-description {
            padding: 0 15px;
        }

        #home-description h1 {
            border-bottom: 1px solid var(--secondary-color);
            width: 80%;
            font-size: 200%;
            padding-bottom: 10px;
        }

        #home-description p {
            font-size: 115%;
        }

    /* home icons */
        #home-icons img{
            width: 100%;
        }

        #home-icons {
            padding-top: 15px;
            background: var(--primary-color);
        }

        /* auto and marine */
        .home-split-description h1 {
            font-size: 200%;
            margin: 15px;
            border-bottom: 1px solid var(--secondary-color);
        }

        .home-split-description p {
            padding:15px;
            font-size: 115%;
            margin: 0;
        }

        .home-split-vid {
            padding: 15px;
        }

        .home-split-vid img{
            margin-top: 16px;
            width:100%;
            border-radius: 50px;
        }

     /******** Auto / Marine ********/
        #detailing-image {
            position: relative;
            margin-top: 10px;
        }

        #detailing-image img{
            width: 100%
        }

         #detailing-image h1{
            margin: 0;
            padding: 0;
            color: var(--book-now-text);
            position: absolute;
            bottom: 30%;
            left: 2.5%;
            font-size: 8vw;
        }

        #detailing-main-content p {
            font-weight: 600;
            line-height: 1.5;
            padding: 0 10px;
        }

        #detailing-buttons ,#marine-buttons {
            padding-bottom: 20px;
        }

        #detailing-buttons ul ,#marine-buttons ul {
            padding: 0;
            width: 90%;
            margin: auto;
        }
        #detailing-buttons li ,#marine-buttons li {
            text-align: center;
            font-size: 7vw;
            margin: 2px;
        }

        #detailing-buttons a ,#marine-buttons a {
            display: block;
            padding: 10px 0;
            color: var(--book-now-text);
            background: var(--secondary-color);
            border-radius: 30px;
        }

         #detailing-buttons a:hover ,#marine-buttons a:hover {
            background: var(--book-now-text);
            color: var(--secondary-color);
            border: 2px solid var(--secondary-color);
         }

         #explore-packages {
            margin: 15px 10px;
            border-bottom: 1px solid var(--secondary-color);
            width: fit-content;
         }


        /***** MARINE ******/
        #marine-h1 {
            width: 60%;
        }

        /******** CONTACT ********/

            #contact-image {
                width: 90%;
                margin: auto;
            }

             #contact-image img{
                width: 100%;
                border-radius: 50px;
            }

            #contact-description {
                padding: 20px;
            }

            #contact-description h1 {
                font-size: 6vw;
                margin: 0;
                border-bottom: 1px solid var(--secondary-color);
                width: 40%;
            }

            #contact-description p {
                font-weight: 600;
                line-height: 1.75;
            }

            #contact-info ul {
                background: var(--primary-color);
                padding: 7px;
                width: 80%;
                margin: auto;
                border-radius: 10px;
                margin-bottom: 8%;
            }

            #contact-info li {
                
                display: flex;
                min-width: 0;
                align-items: center;
                border-bottom: 1px solid var(--secondary-color);
                justify-content: center;
                padding: 5px;
            }

            #contact-info ul :last-child {
                border: none;
            }

            #contact-info a { 
                display: block;
                overflow-wrap: anywhere;   /* modern, best */
                text-align: center;
                font-weight: 300;
                width: 100%;
                padding: 10px;
            }

            #contact-input {
                display: flex;
            }

            #contact-small-input {
                flex: 1;
            }

            #contact-large-input {
                flex: 3;
            }

            .submit {
                flex: 1;
            }

            #contact-small-input ul {
                padding: 15px;
            }

            #contact-small-input li {
                margin: 10px;
            }

            #contact-input input, #contact-message {
                border-radius: 20px;
                padding: 8px;
                border: 2px solid var(--secondary-color);
            }

            #contact-message {
                width: 90%;
                min-height: 80%;
                margin: 10px;
            }

            .submit    {
                display: flex;
                justify-items: center;
                align-items:end;
                width: 100%;
            }
            .submit    a {
                font-size: 4vw;
                background: var(--secondary-color);
                padding: 10px;
                margin: 10px;
                border-radius: 20px;
                color: var(--book-now-text);
            }

            .submit    a:hover {
                background: var(--book-now-text);
                color: var(--secondary-color);
                border: 2px solid var(--secondary-color);
            }

    
    @media only screen and (min-width: 768px) { 
        .columns {
            display: flex;
        }

        .one {
            flex: 1;
        }

        .two {
            flex: 2;
        }

        .three {
            flex: 3;
        }

        .four {
            flex: 5;
        }

        .hide-large {
            display: none;
        }

        .hide-small {
            display: block;
        }

        /******** HEADER ********/
        #logo {
            width: 20vh;
        }

        /* main header */
        #main-header {
            background: var(--primary-color);
            padding: 10px;
        }

        #main-nav {
            width: 100%;
        }

        #main-nav ul {
            margin: 0;
        }


        
        /* I have to do this for some reason to get rid of the border radius */
        #main-nav ul :last-child {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #main-nav ul :first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        #main-nav li {
            flex: 1;
            border-radius: 0;
            border: none;
            border-right: 1px solid black;
            padding: 0;
            
            display: flex;
            justify-items: center;
            align-items: center;
        }

        #main-nav li:last-child {
            border-right: none;
        }

         #main-nav a {
            font-size: 2vw;
            font-weight: 100;
            flex:1;
            padding: 15px;
            margin: 3px;
         }

         #main-nav li :hover {
            color: var(--main-nav-hover);
         }

         /* book now button */

         #book-now-div {
            display: flex;
            padding: 10px;
         }

         #book-now {
            padding: 10px;
         }

        /******** HOME PAGE ********/
        #main-content p {
            font-weight: 600;
            line-height: 3;
        }

        #main-content h1 {
            margin-bottom: 0;
        }

        #home-image h1 {
            font-size: 5vw;
            bottom: 35%;
            left: 4%;
        }
         
        #home-image {
            display: flex;
            justify-items: center;
            padding: 15px;
        }

        #home-image img {
            margin: 0;
        }

        #home-icons img {
            display: block;
            width: 50%;
            margin: auto;
            margin-left: 25%;
        }

        .home-split-vid {
            padding-top: 0;
        }

        /******** Auto / Marine ********/

        #detailing-image {
            margin: 0;
        }


        #detailing-buttons ,#marine-buttons {
            padding: 5px 0 15px 0;
            width: 70%;
            margin: auto;
        }

        #marine-buttons {
            width: 50%;
        }

        #detailing-buttons ul ,#marine-buttons ul {
            padding: 5px;
            width: 97%;
            margin: auto;
        }

        #detailing-buttons li ,#marine-buttons li {
            flex: 1;
            font-size: 3vw;
        }

        #explore-packages {
            font-weight: 500;
            font-size: 4vw;
            margin-left: 20px;
        }

        /***** CONTACT *****/
        #contact-image img{
            width: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin: 3% 0;
        }

        #contact-description {
            padding-left: 5%;
        }

        #contact-description h1 {
            width: 70%;
            font-size: 5vw;
        }

        #contact-description p {
            line-height: 2;
            font-size: 1.5vw;
            font-weight: 500;
        }

       #contact-info ul {
                background: none;
                padding: 0;
                width: 80%;
                border-radius: 0px;
        }

        #contact-info li {
            display: block;
            border-right: none;
            border-bottom: 1px solid var(--secondary-color);
        }

        #contact-info a {
            text-align: left;
            padding: 10% 0;
            font-weight: 300;
            font-size: 2vw;
        }


    }

    @media only screen and (max-width: 1177px) { 
            #home-image {
                height: auto;
                padding: 10% 5px;
            }
          }
 
   
















/* typography */
p {
    color: var(--secondary-color);
}






