body {
    background:black;
     font-family: "Rubik Wet Paint", system-ui;
        font-weight: 250;
        font-style: normal;
        font-size: 32px;   
        color:beige;
      
      
      
    }
    h1 {
    color:lime;
    text-align: center;
    font-style: normal;
    
    }
    h2{
        color:lightskyblue;
        font-size: smaller;
    }
    p{
        color:lightskyblue;
    }
