
/* applies to screens smaller than 768px in width */
body {
    background:#A0BF5E;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 95%;
    margin: auto;
    background: #95a5a3da;
    border-radius: 5px;
    padding: 5px;
}

#main-header {
    background: #3E5923;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* Main Navigation */
#main-nav ul {
    list-style-type: none; /* removes bullets */
    padding-left: 0; /* alligns things in the ul to the left side */

}

#main-nav li {
    border-bottom: 1px solid white;
}

#main-nav li:first-child {
    border-top: 1px solid white;
}

#main-nav a {
    color: white;
    padding: 10px 5px; /* padding in here so that its clickable */
    display: block; /* takes up whole area */
    text-decoration: none;
}

#main-nav a:hover {
    background: white; /* changes the color when you hover over it */
    color:#3E5923;
}

/* Typography */
h1 {
    text-align: center;
}

/* Larger Devices */
@media only screen and (min-width: 768px) {
    body {
        background: url(images/background.jpg);
        background-size: cover;
        
    }

    #content {
        width: 70%;
    }

    /* Columns */
    .columns {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }

    /* main-nav */
    #main-nav li,  #main-nav li:first-child {
        border: none;
    }

    #main-nav a {
        padding: 5px;
        text-align: center;
    }

    #main-nav a:hover {
        background:#3E5923;
        color: white;
        border-bottom: 1px solid white;
    }
}

