:root {
    --primary-color: #75000a;
    --secondary-color: #000;
    --main-text: #fff;
    --highlight: #ffffff89;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--secondary-color);
}


/* main header */
#main-header {
    background: var(--secondary-color);
    width: 100%;
    color: var(--main-text);
    margin-top: 0;
}

#main-header h1 {
    font-size: 3vw;
    padding-left: 5px;
}

#main-header a {
    padding-left: 5px;
}

/* nav */

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--main-text);
}

/* General */
h1 {
    color: var(--main-text);
    margin: 0;
}


/* main nav */
#main-nav {
    background: var(--primary-color);
    margin: 0;
    position: relative;
}

#main-nav li {
    text-align: center;
}

#main-nav a {
    display: block;
    padding: 5px;
}

#main-nav li:not(:last-child) a {
    border-bottom: 1px solid var(--main-text);
}

/* sub nav */
#sub-nav ul {
    display: flex;
}

#sub-nav a {
    padding-right: 10px;
}

#sub-nav li:not(:last-child)::after {
        content: "|\00a0";
}

/* first-image */
#first-image {
    background: var(--main-text);
    color: var(--primary-color);
}

#first-image img{
    display: block;
    width: 100%;
}

#first-image h1 {
    width: 60%;
    color: var(--primary-color);
    margin: 0;
    padding-top: 5px;
}

/* text */
#text {
    background: var(--main-text);
    display: flex;
    padding: 40px;
}

#text p {
    width: 100%;
    margin: auto;
    font-size: 150%;
}

/* classes */
.image img {
    width: 100%;
}

.hide-small {
    display: none;
}

    /* split */
    .split {
        background: var(--primary-color);
        padding: 5px;
    }

    
    /* left */
    .left {
        display: flex;
    }

    .left div {
        width: 80%;
        margin: auto;
        color: var(--main-text);
    }

    .left h1 {
        padding-top: 20px;
    }

    .left li {
        padding-bottom: 20px;
    }

    .left a {
        background: var(--secondary-color); /* remove and customize individually */
        border: 2px solid var(--main-text);
        padding: 10px;
    }

    .left p {
        padding-bottom: 20px;
    }

/* MEDIA QUERY */
@media only screen and (min-width: 768px) {

    /* classes */
    .columns {
        display: flex;
    }

    .inline {
        display: inline;
    }

    .hide-small {
        display: block;
    }

    .hide-big {
        display: none;
    }

    /* main nav */
   #main-nav {
        display: flex;
        justify-content: flex-end;
        background: var(--primary-color);
        padding: 5px;
   }

    #main-nav ul {
        display: flex;
        margin: 0;
        padding: 5px;
    }

    #main-nav li:not(:last-child) a {
        border-bottom: none;
    }

    #sub-header {
        position: relative;
    }
    #title {
        position: absolute;
        right: 2.5%;
        top: 2.5%;
    }

    /* first image */
    #first-image {
        position: relative;
        margin-bottom: 0;
    }
    
    #first-image h1 {
        width: fit-content;
        position: absolute;
        bottom: 5%;
        left: 0%;
        background: var(--highlight);
        padding: 20px;
        color: var(--primary-color);
    }

    #text p {
        width: 50%;
    }

    /* split */
    .split {
        padding: 0;
    }

    .left {
        flex: 1;
    }

    .left div {
        width: 95%;
    }

    .right {
        flex: 1;
        margin: 0;
        padding: 0;
    }

}