body {
    background: #7f94b4;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 97%; /* leave a bit of a gap */
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}

#main-header h1 {
    text-align: center;
    color: #2B3236;
}

#main-content h3 {
    text-align: center;
}

/* main nav */

#main-nav ul {
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    background: #3466B6;
    margin: 2px;
    border-radius: 2px;
}

#main-nav li a {
    text-decoration: none;
    padding: 10px 5px; /* padding in here so that it */
    display: block;
    text-align: center;
    color: #fff;
}

/* 1st image */
#image {
    text-align: center;
}

/* hide class */
.hide {
    display: none;
}

/* links */
#links{
    background: #1C8DE0;
    padding: 5px 5px 5px 5px;
}

#links h3 {
    padding-left: 5px;
}

#links ul {
    list-style-type: none;
    padding-left: 5px;
}

/* Titles */

#titles section {
    background: #3F5C8B;
}

/* Gallery */
#gallery section {
    background: #2b3236;
}

/* Titles X Gallery */

#gallery section, #titles section {
    color: #fff;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#gallery section div, #titles section div {
    text-align: center;
}

#gallery section div img, #titles section div img{
    width: 97%;
}

/* footer */
footer {
    background: #1C8DE0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

/* Typography */
#links a{ 
    color: #fff;
}

#main-content h2 {
    color: #2B3236;
}

footer {
    color: white;
}


@media only screen and (min-width: 768px) {

    /* content */
    #content {
        width: 100%;
        padding: 0;
    }

    .hide{
    display: block;  
    }

    /* Columns */
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    /* main-nav */
    #main-nav li {
        flex: 1;
    }

    /* ideas */
    #ideas {
        flex-wrap: wrap;
    }

    #ideas section {
        width: 49%
    }

    #ideas aside {
        padding-left: 5px;
    }

    #titles , #gallery {
        flex-wrap: wrap;
    }

    #titles {
        margin-right: 0;
    }

    #titles section {
        width: 47%;
        margin-left: 5px;
    }

    #gallery section {
        width: 30%;
        margin-left: 5px;
    }

    /* footer */ 
    footer {
        margin-top: 5px;
    }

}