/* Isaac White 2025 */
:root {
    --text1: #fff;
    --background: #000000;
    --header-background: #252525;
    --border: #6fe77d;
    --li-background: #353535;
}

body {
    background: var(--background);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main-content {
    position: relative;
    height: 100%;
}

/* main-header styling */
#main-header {
    background: var(--header-background);
    width: 100vw;
}

#main-header h1 {
   padding-top: 20px;
    /* margin-bottom: 5px;
    margin-top: 5px; */
    margin: 0%;
    color: #fff !important;
}

/* Main-nav styling */
.columns {
    display: flex;
}

#main-nav ul {
    list-style-type: none; /* removes bullets */
    padding-left: 0;
}

#main-nav li {
    flex: 1;
    margin: 3px;
    border: 1px solid var(--border);
}

#main-nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 15%;
    padding-bottom: 15%;
    color: #fff;
}


.hover {
    color: var(--border) !important;
}

/* typography */
#main-header h1 {
    text-align: center;
    color: var(--text1);
}

#main-nav li {
    font-size: 5vw;
}
/**/
#main-content {
    display: flex;
    justify-content: center;
}

#assignments{
    list-style-type: none;
    align-content: center;
    padding: 0;
    width: 80%;
}

#assignments li {
    padding: 5px 20px 5px 20px;
    background: var(--li-background);
    margin-bottom: 3px;
    
    display: block;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;

    border: 1px solid var(--border);
}

#assignments p {
    text-align: center;
    color: var(--text1);
}

#assignments a {
    color:var(--text1);
    text-decoration: none;
}

#assignments-button {
    width: 50%;
    margin: auto;
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 2% 2%;
    font-size: 100%;
    border-radius: 25px;
}

.links {
    display: flex;
    justify-content: center;
}

.links div {
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    background: var(--text1);
}

.links div a {
    color: var(--background)!important; 
}



/* for larger screens only */
@media only screen and (min-width: 768px) {
    body {
        background-size: 100vw 100vh;
    }

    #main-header {
        background: var(--header-background);
    }

    #main-header h1 {
        font-size: 4.5vw;
        color: #fff;
    }

    #main-nav li {
        font-size: 2.5vw;
        border-radius: 1px;
       
    }

    #main-nav a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #assignments {
        display: flex;
        flex-wrap: wrap;
    }

    #assignments li {
        margin-right: 10px;
        flex: 0 0 30%;
    }

    #assignments img {
        width: 150px;
        height: 100px;
    }

    #assignments-button {
        width: 15%;
        font-size: 150%;
        
    }
    
}