/* Isaac White 2025 */

/* body and content */
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

#content {
    display: grid;
    background: #737373;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% auto;
    row-gap: 0px;
    height: 100vh;
    width: 100vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    column-gap: 12px;
}

/* CRN and my Name */

#topBanner {
    padding-left: 3%;
    background-color: #737373;
    grid-column-start: 1;
    grid-column-end: 3;
}

#topBanner h1 {
    margin-top: 1%;
}

/* main background of page, course description, and github link */

#assignments {
    background:url(images/nature.jpg) no-repeat;
    background-size: 100% 100%; /* stretches the background image to fill the width and height of its parent */
    height: 100%; 
    border-top-left-radius: 60px;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: -4px -4px 15px rgba(0.5, 0.5, 0.5, 0.5);
    
    display: flex; /* Allows me to align the items how id like */
    flex-direction: column; /* stacks the items */
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* vertical alignment */
    text-align: center;
}



#description {
    background-color: #737373;
    margin: 1%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    grid-row-start: 2;
}

#github {
    background-color: #F2C4B3cc; 
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
}

/* Typography */
h1 {
    color: #F2E8B6;
    font-size: 5vw;
}

h2 {
    text-align: center;
    color: #F2E8B6;
    text-decoration: underline;
    font-size: 200%;
}

#gotham p {
    padding: 1% 1% 1% 1%;
    border-radius: 20px;
    color: #000000;
    font-size: 150%;
}

a {
    color: #072331;
    text-decoration: none;
}