/* Isaac White 2025 */

body {
    background: #072233;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main-content {
    position: relative;
    height: 100%;
}

/* main-header styling */
#main-header {
    background: #fff;
    padding: 0 1% 1% 1%;
    border-radius: 40px;
    margin-top: 5px;
}

#main-header h1 {
    padding-top: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* Main-nav styling */
.columns {
    display: flex;
}

#main-nav ul {
    list-style-type: none; /* removes bullets */
    padding-left: 0;
}

#main-nav li {
    flex: 1;
    background: #072233;
    margin: 1px;
    border-radius: 5px;
}

#main-nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 15%;
    padding-bottom: 15%;
    color: #fff;
}

/* typography */
#main-header h1 {
    text-align: center;
    color: #072233;
    font-size: 9vw;
}

#main-nav li {
    font-size: 5vw;
}
/**/
#main-content {
    display: flex;
    justify-content: center;
}

#assignments{
    list-style-type: none;
    align-content: center;
    padding: 0;
    width: 50%;
}

#assignments li {
    padding: 5px 20px 5px 20px;
    background: #fff;
    margin-bottom: 3px;
    
    display: block;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
}

#assignments p {
    text-align: center;
}

#assignments a {
    color:#072233;
    text-decoration: none;
}

#assignments-button {
    width: 50%;
    margin: auto;
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 3% 3%;
    font-size: 100%;
    border-radius: 25px;
}

/* for larger screens only */
@media only screen and (min-width: 768px) {
    body {
        background: url(images/nature.jpg);
        background-size: 100vw 100vh;
    }

    #main-header {
        background: #072233d4;
    }

    #main-header h1 {
        font-size: 4.5vw;
        color: #fff;
    }

    #main-nav li {
        font-size: 2.5vw;
        border-radius: 1px;
        background: #fff;
    }

    #main-nav a{
        color: #072233d4;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #assignments {
        display: flex;
        flex-wrap: wrap;
    }

    #assignments li {
        margin-right: 10px;
        flex: 0 0 30%;
    }

    #assignments img {
        width: 150px;
        height: 100px;
    }

    #assignments-button {
        width: 15%;
        font-size: 150%;
    }
    
}